body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333333;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar .logo a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .nav-links {
  display: flex;
  list-style: none;
}

.navbar .nav-links li {
  margin-left: 20px;
}

.navbar .nav-links a {
  color: #ffffff;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 3px;
}

@media screen and (max-width: 768px) {
  .nav-links {
      display: none;
  }

  .hamburger {
      display: flex;
  }
}
